// Generic styles

* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;

  font-size: 16px;
  font-family: 'Red Hat Text', sans-serif;
  color: var(--content-color);
}

:root {
  --grayish-blue: rgb(132, 134, 169);
  --soft-red: rgb(251, 96, 135);
  --content-color: rgb(255, 255, 255);
  --black-color: black;
  --dark-desaturated-blue: rgb(52, 54, 80);
  --dark-desaturated-blue-lighter: rgb(66, 69, 100);
  --very-dark-blue: rgb(21, 25, 30);

  --bg-color: rgb(30, 31, 41);
}

html {
  overflow: hidden;
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  min-height: 100svh;
  margin-bottom: 50px;

  background: url('./images/bg-stars.svg');
  background-size: auto 110%;

  -webkit-user-select: none;
  user-select: none;

  animation: move-background 20s infinite ease-in-out alternate;

  transition: 150ms 1000ms linear opacity, 300ms 1000ms ease-in-out transform;
}

a {
  text-decoration: none;

  @media (pointer: coarse) {
    cursor: default;
  }
}

h1 {
  margin: 10vh 10vw 30px;

  font-variant: small-caps;
  font-size: 26px;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 4px;
}


// Specific styles

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  &__percentage {
    display: block;
    padding: 6px;

    background-color: var(--dark-desaturated-blue);
    border-radius: 4px;

    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;

    color: var(--grayish-blue)
  }

  &__container {
    margin-left: 16px;
    width: 70vw;
    height: 10px;
    max-width: 500px;

    overflow: hidden;

    background-color: var(--dark-desaturated-blue);
    border-radius: 4  px;
  }

  &__progress {
    height: 100%;
    
    background-color: var(--grayish-blue);
  }

}

.timer-panels {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 40px;

  & > div {
    margin-bottom: 30px;

    position: relative;
  }

  &__panel {
    padding: 20px;

    position: relative;

    overflow: hidden;

    background-image: linear-gradient(to bottom, var(--dark-desaturated-blue) 50%, var(--dark-desaturated-blue-lighter) 50%);

    box-shadow: 0px 10px var(--very-dark-blue);

    border-radius: 4px;

    font-size: 60px;
    font-weight: 600;
    font-variant: small-caps;
    font-family: 'DM Mono', monospace;
    letter-spacing: 4px;
    color: var(--soft-red);

    span {
      font-size: 57px;
      color: var(--soft-red);
    }

    &__line-through {
      width: 100%;
      height: 1px;
      
      position: absolute;
      top: calc(50% - 1px);
      left: 0px;

      background-color: black;

      opacity: 0.2;
    }

    &::before, &::after {
      content: '';

      display: block;
      width: 10px;
      height: 10px;

      position: absolute;
      top: 50%;

      border-radius: 50%;

      background-color: var(--black-color);
      opacity: 0.6;
    }

    &::before {
      left: 0px;
      transform: translate(-50%, -50%);
    }

    &::after {
      right: 0px;
      transform: translate(50%, -50%);
    }

    &--small {
      display: flex;
      align-items: center;

      height: 119px;

      span {
        font-size: 45px;
      }
    }
  }


  p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 40px);

    transition: 150ms linear transform;

    &, span {
      font-variant: small-caps;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 4px;
      color: var(--grayish-blue);
    }

    span {
      transition: 150ms linear opacity;
    }
  }
}

.page-footer {
  position: relative;

  overflow: hidden;

  &__navigation {
    gap: 20px;

    position: absolute;
    left: 50%;
    bottom: 80px;
    z-index: 2  ;
    transform: translateX(-50%);

    &__link {
      @media (hover: hover) {
        &:hover svg {
          color: var(--soft-red);
          transform: translateY(-5px);
        }
      }

      @media (hover: none) {
        &:active svg {
          color: var(--soft-red);
          transform: translateY(-5px);
        }
      }
    }

    &__link svg {
      transition: transform 150ms ease-in-out;
    }

    &__link path {
      color: currentColor;

      transition: color 150ms linear;
    }
  }

  &__mountain-image {
    min-width: 900px;
    width: 100%;
    vertical-align: bottom;
  }
}


// JavaScript classes

.hide-body-element {
  opacity: 0;
  transform: scale(1.2);
}

.move-paragraph-to-right.move-paragraph-to-right {
  transform: translate(calc(-50% + 12px), 40px);
}

.hide-element {
  opacity: 0;
}


// At-rules

@media (max-width: 665px) {
  .timer-panels {
    gap: 25px;

    &__panel {
      font-size: 49px;
      
      span {
        font-size: 47px;
      }

      &--small {
        height: 104px;

        span {
          font-size: 36px;
        }
      }
    }
  }

  
}

@media (max-width: 560px) {
  h1 {
    margin: 4vh 5vh 30px;
  }

  .timer-panels {
    grid-template-columns: auto auto;
    column-gap: 40px;

    &__panel {
      font-size: 35px;
      
      span {
        font-size: 35px;
      }

      &--small {
        height: 86px;

        span {
          font-size: 24px;
        }
      }
    }
  }

  // Updating JavaScript class

  .move-paragraph-to-right.move-paragraph-to-right {
    transform: translate(calc(-50% + 10px), 40px);
  }
}


@keyframes move-background {
  from {
    background-position: 0% 0%;
  }

  50% {
    background-position: 30% 60%;
  }

  to {
    background-position: 70% 20%;
  }
}
