* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Red Hat Text", sans-serif;
  color: var(--content-color);
}

:root {
  --grayish-blue: rgb(132, 134, 169);
  --soft-red: rgb(251, 96, 135);
  --content-color: rgb(255, 255, 255);
  --black-color: black;
  --dark-desaturated-blue: rgb(52, 54, 80);
  --dark-desaturated-blue-lighter: rgb(66, 69, 100);
  --very-dark-blue: rgb(21, 25, 30);
  --bg-color: rgb(30, 31, 41);
}

html {
  overflow: hidden;
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url("./images/bg-stars.svg");
  background-size: auto 110%;
  user-select: none;
  animation: move-background 20s infinite ease-in-out alternate;
  transition: 150ms 1000ms linear opacity, 300ms 1000ms ease-in-out transform;
}

a {
  text-decoration: none;
}
@media (pointer: coarse) {
  a {
    cursor: default;
  }
}

h1 {
  margin: 10vh 10vw;
  font-variant: small-caps;
  font-size: 26px;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 4px;
}

.timer-panels {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 40px;
}
.timer-panels > div {
  margin-bottom: 30px;
  position: relative;
}
.timer-panels__panel {
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, var(--dark-desaturated-blue) 50%, var(--dark-desaturated-blue-lighter) 50%);
  box-shadow: 0px 10px var(--very-dark-blue);
  border-radius: 4px;
  font-size: 60px;
  font-weight: 600;
  font-variant: small-caps;
  font-family: "DM Mono", monospace;
  letter-spacing: 4px;
  color: var(--soft-red);
}
.timer-panels__panel span {
  font-size: 57px;
  color: var(--soft-red);
}
.timer-panels__panel__line-through {
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  left: 0px;
  background-color: black;
  opacity: 0.2;
}
.timer-panels__panel::before, .timer-panels__panel::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background-color: var(--black-color);
  opacity: 0.6;
}
.timer-panels__panel::before {
  left: 0px;
  transform: translate(-50%, -50%);
}
.timer-panels__panel::after {
  right: 0px;
  transform: translate(50%, -50%);
}
.timer-panels__panel--small {
  display: flex;
  align-items: center;
  height: 119px;
}
.timer-panels__panel--small span {
  font-size: 45px;
}
.timer-panels p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 40px);
  transition: 150ms linear transform;
}
.timer-panels p, .timer-panels p span {
  font-variant: small-caps;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 4px;
  color: var(--grayish-blue);
}
.timer-panels p span {
  transition: 150ms linear opacity;
}

.page-footer {
  position: relative;
  overflow: hidden;
}
.page-footer__navigation {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: 80px;
  z-index: 2;
  transform: translateX(-50%);
}
@media (hover: hover) {
  .page-footer__navigation__link:hover svg {
    fill: var(--soft-red);
    transform: translateY(-5px);
  }
}
@media (hover: none) {
  .page-footer__navigation__link:active svg {
    fill: var(--soft-red);
    transform: translateY(-5px);
  }
}
.page-footer__navigation__link svg {
  transition: fill 150ms linear, transform 150ms ease-in-out;
}
.page-footer__mountain-image {
  width: 100%;
  vertical-align: bottom;
}

.hide-body-element {
  opacity: 0;
  transform: scale(1.2);
}

.move-paragraph-to-right.move-paragraph-to-right {
  transform: translate(calc(-50% + 12px), 40px);
}

.hide-element {
  opacity: 0;
}

@media (max-width: 840px) {
  .page-footer {
    padding-top: 12vh;
  }
  .page-footer__mountain-image {
    transform: scale(2.8);
  }
}
@media (max-width: 665px) {
  .timer-panels {
    gap: 25px;
  }
  .timer-panels__panel {
    font-size: 49px;
  }
  .timer-panels__panel span {
    font-size: 47px;
  }
  .timer-panels__panel--small {
    height: 104px;
  }
  .timer-panels__panel--small span {
    font-size: 36px;
  }
  .page-footer {
    padding-top: 20vh;
  }
  .page-footer__mountain-image {
    transform: scale(4.4);
  }
}
@media (max-width: 560px) {
  h1 {
    margin-top: 4vh;
    margin-bottom: 5vh;
  }
  .timer-panels {
    grid-template-columns: auto auto;
    column-gap: 40px;
  }
  .timer-panels__panel {
    font-size: 35px;
  }
  .timer-panels__panel span {
    font-size: 35px;
  }
  .timer-panels__panel--small {
    height: 86px;
  }
  .timer-panels__panel--small span {
    font-size: 24px;
  }
  .move-paragraph-to-right.move-paragraph-to-right {
    transform: translate(calc(-50% + 10px), 40px);
  }
}
@keyframes move-background {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 30% 60%;
  }
  to {
    background-position: 70% 20%;
  }
}

/*# sourceMappingURL=style.css.map */
